*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Ubuntu;
}
:root{
  --mint-green:#d7fec8;
  --forest-green:#006a43;
}
header{
  background-color: var(--mint-green);
}
.nav-container{
  display: flex;
  justify-content: space-between;
}
.left-nav-container{
  display: flex;
  align-items: center;
}
#logo{
  width: 130px;
  margin: 0 30px;
}
.left-nav ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
.left-nav ul li a{
font-size: 18px;
color: black;
}
.left-nav ul li a::after{
  content:'\02C5';
  margin-left: 8px;
  font-weight: bold;
}
.right-nav-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
#globe{
  width: 26px;
}
.btn-login,.btn-signup{
  padding:8px 20px;
  color: var(--forest-green);
  font-weight: 500;
  border: 2px solid var(--forest-green);
  border-radius: 12px;
  transition: border 0.2s ease-out;
  text-align: center;
}
.btn-login:hover{
  border: 3px solid var(--forest-green);
}
.btn-signup{
  background-color: var(--forest-green);
  color: white;
  margin-right: 30px;
  transition: 1s;
}
.btn-signup:hover{
  background-color: white;
  color: var(--forest-green);
}
.sec-one-container{
  background-color: var(--mint-green);
  padding: 60px;
  border-radius: 0 0 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.left-sec-one{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.left-sec-one h1{
 font-size: 36px;
}
.sec-one-btn{
  padding: 20px 40px;
  font-size: 20px;
}
.right-sec-one img{
  width: 500px;
}
@media screen and (max-width: 1000px) {
  .left-nav,.right-nav-container{
    display: none;
  }
  .right-sec-one img{
    width: 300px;
  }
  .sec-one-btn{
    width: 100%;
    padding: 10px 20px;
  }
}