*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Ubuntu;
}
:root{
  --mint-green:#d7fec8;
  --forest-green:#006a43;
  --iris-purple:#3b3585;
  --orange:#bc4f2d;
  --peony-pink:#b22557;
  --sky-blue:#226099;
  --aqua-teal:#116b6b;
}
header{
  background-color: var(--mint-green);
}
.nav-container{
  display: flex;
  justify-content: space-between;
}
.left-nav-container{
  display: flex;
  align-items: center;
}
#logo{
  width: 130px;
  margin: 0 30px;
}
.left-nav ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
.left-nav ul li{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-nav ul li a{
font-size: 18px;
color: black;
}

.right-nav-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
#globe{
  width: 26px;
}
.btn-login,.btn-signup,.btn-register,.btn-signup-free{
  padding:8px 20px;
  color: var(--forest-green);
  font-weight: 500;
  border: 2px solid var(--forest-green);
  border-radius: 12px;
  transition: border 0.2s ease-out;
  text-align: center;
  transition: 0.7s;
}
.btn-signup-free{
  background-color: var(--forest-green);
  color: white;
  padding: 10px 40px;
}
.btn-login:hover{
  border: 3px solid var(--forest-green);
}
.btn-signup{
  background-color: var(--forest-green);
  color: white;
  margin-right: 30px;
}
.btn-signup:hover,.btn-register:hover,.btn-signup-free:hover{
  background-color: white;
  color: var(--forest-green);
}
.sec-one-container{
  background-color: var(--mint-green);
  padding: 60px;
  border-radius: 0 0 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.left-sec-one{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.left-sec-one h1{
 font-size: 36px;
}
.sec-one-btn{
  padding: 20px 40px;
  font-size: 20px;
}
.right-sec-one img{
  width: 500px;
}
.join-h3{
  text-align: center;
  font-size: 18px;
}
.wrapper{
  margin: 50px 0 100px 0;
}
.track{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sec-three-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sec-three-container h1{
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}
.top-card-container,.bottom-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}
.card-container{
  border: 2px solid var(--iris-purple);
  border-radius: 30px 0 30px 0;
  width: 330px;
  height: 340px;
  padding:20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 20px;
}
.cc-orange{
  border: 2px solid var(--orange);
}
.cc-pp{
  border: 2px solid var(--peony-pink);
}
.cc-sky-blue{
  border: 2px solid var(--sky-blue);
}
.cc-aqua{
  border: 2px solid var(--aqua-teal);
}
.card-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-heading h3{
  font-size: 20px;
  font-weight: 500;
}
.card-container p{
 font-family:Arial, Helvetica, sans-serif;
 font-size: 14px;
}
.tf-heading{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.top-features ul li{
  list-style-type: disc;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.top-features{
 margin: 20px 0 40px 20px;
}
#sale-logo{
  width: 35px;
}
.btn-fom{
  padding: 10px 83px;
  background-color: var(--iris-purple);
  border: 2px solid var(--iris-purple);
  color: white;
  border-radius: 10px;
  transition: 0.7s;
}
.btn-fom:hover{
  background-color: white;
  color: var(--iris-purple);
}
.btn-org{
  background-color: var(--orange);
  border: 2px solid var(--orange);
}
.btn-org:hover{
  color: var(--orange);
}
.btn-pp{
  background-color: var(--peony-pink);
  border: 2px solid var(--peony-pink);
}
.btn-pp:hover{
  color: var(--peony-pink);
}
.btn-sky-blue{
  background-color: var(--sky-blue);
  border: 2px solid var(--sky-blue);
}
.btn-sky-blue:hover{
  color: var(--sky-blue);
}
.btn-aqua{
  background-color: var(--aqua-teal);
  border: 2px solid var(--aqua-teal);
}
.btn-aqua:hover{
  color: var(--aqua-teal);
}
.md-cc-aqua,.md-cc-sky-blue{
  display: none;
}
.webinar-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 80px 0;
}
.b-webiner{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color:var(--forest-green);
}
.left-webinar{
  width: 500px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 80px;
}
.left-webinar p{
  line-height: 25px;
}
.right-webinar img{
  width: 500px;
}
.award-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.award{
  width: 500px;
  margin: 20px;
}
.get-start-container{
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  background-color: var(--mint-green);
  margin-top: 30px;
  border-radius: 80px 80px 0 0;
}
@media screen and (max-width: 1060px) {
  .left-nav,.right-nav-container{
    display: none;
  }
  .right-sec-one img{
    width: 300px;
  }
  .sec-one-btn{
    width: 100%;
    padding: 10px 20px;
  }
  .md-cc-aqua,.md-cc-sky-blue{
    display: block;
  }
 .bottom-card-container{
  display: none;
 }
 .webinar-container{
 flex-direction: column-reverse;
}
.award{
  width: 600px;
}
.left-webinar{
  width: 100%;
}
.left-webinar p{
  line-height: 25px;
}
.right-webinar img{
  width: 380px;
}
.btn-register{
  width: 100%;
}
.btn-signup-free{
  width: 100%;
}
}
@media screen and (max-width: 500px) {
  .track{
    justify-content: center;
    gap: 6px;
  }
  .logo img{
    width: 40px;
  }
  .left-webinar{
    padding: 30px;
  }
  .right-webinar img{
    width: 300px;
  }
  .award{
   width: 300px;
  }
}